<mat-toolbar>
    <div>
      <img src="../assets/logo.png" alt="" height="50px" />
      <i><span style="font-family: 'Lucida Sans'">Emprende YA</span></i>
    </div>
    <button mat-button routerLink="/benefactors" style="font-family: 'Lucida Sans'">Benefactors</button>
    <button mat-button routerLink="/emprendedor" style="font-family: 'Lucida Sans'">Emprendedor</button>
    <button mat-button routerLink="/resenas" style="font-family: 'Lucida Sans'">Reseñas</button>
    <button mat-button routerLink="/preguntas" style="font-family: 'Lucida Sans'">Preguntas Frecuentes</button>
    <button mat-button routerLink="/TipodeComunicacion" style="font-family: 'Lucida Sans'">Tipo de comunicación</button>
    <button mat-button routerLink="/TipodeContenido" style="font-family: 'Lucida Sans'">Tipo de contenido</button>
    <button mat-button routerLink="/reportes/tdcontenido-count" style="font-family: 'Lucida Sans'">Reportes</button>
    <button mat-button routerLink="/reportes2/contar" style="font-family: 'Lucida Sans'">Reportes2</button>
    <button mat-button routerLink="/" style="font-family: 'Lucida Sans'">Salir<mat-icon>exit_to_app</mat-icon></button>
  </mat-toolbar>
