body {
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
  overflow-y:auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

mat-form-field {
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 62px;
}

.container {
  width: 19%; /* Ancho fijo */
  margin: 0 auto; /* Margen automático para centrar */
  display:flex;
  justify-content: space-between;

}



