
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div style=" text-align: center;">
      <h1 style="text-align: center; color: #e6e6c7;" class="color;font-family: 'Lucida Sans'">Cantidad de Tipos de Contenidos Totales</h1>
    </div>
    <table mat-table [dataSource]="[valorNumerico]" class="mat-elevation-z8">


      <ng-container matColumnDef="contador">
        <th mat-header-cell *matHeaderCellDef> Cantidad de Tipos de Contenidos en Total </th>
        <td mat-cell *matCellDef="let element of TDContenidoCount"> {{ valorNumerico }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</body>

</html>
